<ion-view title="Splash" id="page3">
  <ion-content padding="true" class="has-header splash-image">
    <h1 id="splash-heading3" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">PiWave</h1>
    <!-- <ion-icon class="ion-ios-analytics-outline"></ion-icon> -->
    <!-- <ion-icon name="wifi"></ion-icon>
    <br> -->
    <!-- <h1 id="splash-heading3" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">to PiWave</h1> -->
    <!-- <i class="icon ion-ios-analytics"></i> -->
    <!-- <ion-icon name="heart"></ion-icon> -->
    <div id="splash-markdown2" class="show-list-numbers-and-dots">
      <h4>Software Defined Radio File Sharing</h4>
    </div>
    <div id="splash-container2" class="creator-container"></div>
    <div class="row">
      <img src="./images/radioWaves2.png">
    </div>
    <div class="row">
      <a ui-sref="tabsController.login" id="splash-button7" class="button button-stable  button-block icon-right ion-ios-people col col-33">Sign In</a>
      <div class="col">
      </div>
      <!-- <i class="icon ion-ios-analytics"></i> -->
      <a ui-sref="tabsController.login" id="splash-button8" class="button button-stable  button-block icon-right ion-ios-personadd col col-33">Sign Up</a>
  </div>
  </ion-content>
</ion-view>
